
html, body {
	height: 100%;
}

div {
	background-color: rgba(0,0,0,0.0);
}

/* Text Box in the center of the Polar Graph */
#sd-vis text { color: #cccccc; }
#sd-vis path { stroke-width: 1; fill: none; }
	
/* Tai Chi Spinner */
#working {	margin: 60px; }	
#working svg { -webkit-animation: SPIN 2s infinite linear; }
@-webkit-keyframes SPIN {  100% { -webkit-transform: rotate(360deg); } }

/* Buttons */
.scb img {	width: 52px; height: 52px; }
