html, body {
	height: 100%;
}

Xhtml {
	background-image: url('../img/yin-yang-1000.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
	margin: 0; padding: 0;
}

Xbody  {
	background-color: rgba(44,62,80 , 0.6 );
	background-image: url('../img/pattern.png');
	background-position: center;
	background-repeat: repeat;
	font-family: 'Raleway', 'Arial', sans-serif;
	margin: 0; padding: 0;
}

div {
	background-color: rgba(0,0,0,0.0);
}

svg text {
	color: #cccccc;
}

.graph-holder {
  position: relative;
  width: 340px;
  height: 90px;
	  border: 0px solid #c00;
}
.graph-holder svg {	
		position: absolute;
	top: 0px;
		left: 0px;
}
.graph-holder div {	
		position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 4em;
	color: #cccccc;
}
	/* tell the SVG path to be a thin blue line without any area fill */
	path {
		stroke-width: 1;
		fill: none;
	}
	
	.dataA {
		stroke: steelblue;
	}

	.dataB {
		stroke: orange;
	}

	.dataG {
		stroke: green;
	}

	.axis {
	  shape-rendering: crispEdges;
	}

	.x.axis line {
	  stroke: lightgrey;
	}

	.x.axis .minor {
	  stroke-opacity: .5;
	}

	.x.axis path {
	  display: none;
	}
	
	.x.axis text {
		font-size: 14;
	}

	.y.axis line, .y.axis path {
	  fill: none;
	  stroke: #000;
	}

	.y.axis text {
		font-size: 14;
	}

	.y.axisRight text {
		fill: orange;
	}
	
	.y.axisLeft text {
		fill: steelblue;
	}

	#graphB .axis text { display: none; }
	#graphG .axis text { display: none; }
	div.ui-content { padding: 0;}

@media (min-width: 768px) and (max-width: 991px) {
	.clock-item {
		margin-bottom: 30px;		
	}
}

@media (max-width: 767px) {
	.clock-item {
		margin: 0px 30px 30px 30px;
	}
}
