/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}


#gradient-style
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	margin-top: 20px;
	width: 340px;
	text-align: right;
	border-collapse: collapse;
}
#gradient-style th
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px;
	background: #ffffff;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	color: #000;
}
#gradient-style td
{
	padding: 8px; 
	color: #000;
	background: #ffffff;
}
